<mat-toolbar color="primary">
  <a routerLink="/" class="brand" routerLinkActive="active" aria-label="Início">
    <mat-icon>health_and_safety</mat-icon>
    <span class="brand-text">Cadastro de Planos</span>
  </a>
  <span class="spacer"></span>
  <a mat-button routerLink="/home" routerLinkActive="active">Início</a>
  <a mat-button routerLink="/planos" routerLinkActive="active">Planos</a>
  <a mat-button routerLink="/beneficiarios" routerLinkActive="active">Beneficiários</a>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
  
  <div class="toast-container">
    <ng-container *ngIf="toasts$ | async as toasts">
      <div *ngFor="let t of toasts" class="toast {{t.type}}">
        <button class="close" (click)="closeToast(t.id)" aria-label="Fechar">×</button>
        {{ t.message }}
      </div>
    </ng-container>
  </div>
</div>